
 .nav{
   background-color:black;
   background-image: none;
   background-repeat: no-repeat;
   font-family: "Times New Roman", Times, serif;
   font-size: 30px;
  }


  {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .img-container{
   min-height: 695px;
   background-image: url("../images/redbarnfoodcowithoutnav.jpg");
   background-repeat: no-repeat;
   background-size: 1500 695;
   background-position: center top;
   /*padding: 40px; (If don't want to set min-height or some image content is there) */
 }

 .font{
     font-family: "Times New Roman", Times, serif;
 }



 .row-centered {
     text-align:center;
     padding-bottom: 40px
 }
 .col-centered {
     display:inline-block;
     float:none;
     text-align:center;;
     margin-right:-4px;
 }


.spacing {
  padding-top: 40px;
  padding-bottom: 120px;
}

.rowspacing {
  padding-bottom: 40px;
}
